.index div {
  background-image: url("../images/Plainchalkboard.jpg");
  background-color: #FFFFFF;
  background-size: cover;
  height: 275px;
  width: 100%;
  background-position: center;
  border: none;
}

.header h1 {
  background-image: url("../images/welcomebulletin.jpeg");
  background-color: #FFFFFF;
  background-size: cover;
  height: 275px;
  width: 100%;
  background-position: center;
  border: none;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:	"intro intro"
    										"left right"
    										"footer footer";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

.left {
  grid-area: left;
  background-image: url("../images/bigbenbridge.jpg");
  background-color: #FFFFFF;
  background-size: cover;
  height: 275px;
  width: auto;
  background-position: center;
  border: none;
}

.right {
  grid-area: right;
  background-image: url("../images/globeinhand.jpeg");
  background-color: #FFFFFF;
  background-size: cover;
  height: 275px;
  width: auto;
  background-position: center;
  border: none;
}

.introduction {
  grid-area: intro;
}

footer {
  grid-area: footer;
}
