.container {
  display: grid;
  position: relative;
  max-width: 1000px;
  margin: auto;
  grid-template-areas:"header header"
    									"nav nav"
    									"left right"
                      "footer footer";
  grid-template-columns: 500px 500px;
  grid-template-rows: 150px 150px 200px 200px;
}

h1 {
  font-family: sans-sans-serif: "Arial"
}
