.container {
  display: grid;
  position: relative;
  max-width: 1000px;
  margin: auto;
  grid-template-areas:"header header"
    									"nav nav"
    									"left right"
                      "footer footer";
  grid: 150px / auto / auto / auto;
}

h1 {
  font-family: sans-sans-serif: "Arial"
}
